@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}


body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.mainContainer { 
  height: 100%; 
  display: grid; 
  grid-template-rows: min-content 1fr; 
  grid-template-columns:  1fr min-content; 
  grid-template-areas:  
    "login" 
    "map"  
	"aside"
 ; 
}

.loggedIn{
	grid-template-rows:  min-content 1fr; 
    grid-template-columns: 1fr min-content;
    grid-template-areas:  
      "WebsiteName		logout		Stundenplan		Karte		logoutError		ProfileImage" 
    ;	
}

.WebsiteName{
	grid-area: WebsiteName;
}

.logoutButton{
	grid-area: logout;
}

.StundenplanButton{
	grid-area: Stundenplan;
}
.KartenButton{
	grid-area: Karte;
}
.logoutError{
	grid-area: logoutError;
}

.ProfileImage{
	grid-area: ProfileImage;
}

.StundenplanContainer{
	height: 100%; 	
} 

#out{
	height: 60%;
	overflow-y: scroll;	
}

#in{
	height: 33%;
	grid-template-rows:  min-content 1fr; 
    grid-template-columns: 1fr min-content;
    grid-template-areas:  
      "MitFahrTitel" 
      "FahrartForm" 
      "Umkreis"
      "Wochentag"
      "Timehin"
      "Timeback"
    ; 
    background: #d3d3d3;
}

#Suchen{
	 position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
 	 transform: translateY(-50%);
}

#MitfahrgelegenheitTitel{
	grid-area: MitFahrTitel;
}

#FahrartForm{
	grid-area: FahrartForm;
	margin: 0px 10px 10px 10px;
}
#Umkreis2{
	grid-area: Umkreis;
	margin: 0px 10px 10px 10px;
}
#Wochentag2{
	grid-area: Wochentag;
	margin: 0px 10px 10px 10px;
}
#TimeHin{
	grid-area: Timehin;
	margin: 0px 10px 10px 10px;
}
#TimeBack{
	grid-area: Timeback;
	margin: 0px 10px 10px 10px;
}

.MitfahrgelegenheitenOutput{
	border:1px solid black;
	background:	#FFFFFF;  
	margin: 0px 10px 10px 10px;
}

.highlighted {
    background: #808080;
    border:1px solid black;
    margin: 0px 10px 10px 10px;
}   

@media screen and (min-width: 44em) { 
  .mainContainer { 
    height: 100%;
    display: grid; 
    grid-template-rows:  min-content 1fr; 
    grid-template-columns: 1fr min-content;
    grid-template-areas:  
      "login      login" 
      "map        aside" 
    ; 
  } 
  
}

header {
	padding: 15px;
	border-bottom: 1px solid #fff;
	background-color: #D8D8D8;
    grid-area: login;
}


article {
	border-bottom: 2px solid #fff;
    background: white;
    grid-area: map;
}


aside {
	border-bottom: 2px solid #fff;
    background:#F3E2A9;
    grid-area: aside;
    height: 650px;
}

span + span {
    margin-left: 5px;
}

table{
	white-space:nowrap;
}
.WebsiteName-text{
	float: left;
	margin-right: 100px;	
}
.Register{
	float: right;	
	margin-left: 100px;
	
}
#Straße{
	width:85px;
}
#NR{
	width:40px;
}
#PLZ{
	width:52px;
}
#Ort{
	width:72px;
}
#Profilbild{
	width: 170px;
}
#registerError{
	color:red;
}
#loginError{
	color:red;
}
#suchenError{
	color:red;
}
#RegisterContainer {
	position: absolute;
	grid-area: RegisterContainer;
	display: none;
	top: 30%;
	right: calc(70% - 470px);
	width: 380px;
	height: 275px;
	border-bottom: 2px solid #fff;
    background: white;
    border: 2px solid black;
    }
    
    
.hidden {
    display: none;
}    