@charset "UTF-8";


.mainContainer { 
  height:100vh; 
  display: grid; 
  grid-template-rows: 75px auto; 
  grid-template-columns:  auto minmax; 
  grid-template-areas:  
    "login" 
    "map"  

 ; 
} 
 /*
@media screen and (min-width: 44.001em) { 
  .mainContainer { 
    height:100vh; 
    grid-template-rows:  75px auto; 
    grid-template-columns: auto minmax;
     } 
}*/
header {
	padding: 15px;
	border-bottom: 1px solid #fff;
	background-color: #D8D8D8;
    grid-area: login;
}


article {
	border-bottom: 2px solid #fff;
    background: white;
    grid-area: map;
}


aside {
	border-bottom: 2px solid #fff;
    background:#F3E2A9;
    grid-area: register;
}

span + span {
    margin-left: 5px;
}

table{
	white-space:nowrap;
}
.WebsiteName-text{
	float: left;
	margin-right: 100px;	
}
.Register{
	float: right;	
	margin-left: 100px;
	
}
#Straße{
	width:85px;
}
#NR{
	width:40px;
}
#PLZ{
	width:52px;
}
#Ort{
	width:72px;
}
#Profilbild{
	width: 170px;
}
#registerError{
	color:red;
}
#loginError{
	color:red;
}
#RegisterContainer {
	position: absolute;
	grid-area: RegisterContainer;
	display: none;
	top: 30%;
	right: calc(70% - 470px);
	width: 370px;
	height: 255px;
	border-bottom: 2px solid #fff;
    background: white;
    border: 2px solid black;
    }